In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("netflix_titles.csv")
df.tail()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Unnamed: 12
8840,s8841,Movie,Black Panther,Ryan Coogler,Chadwick Boseman;Michael B Jordan;Lupita Nyong'o,United States,January 1 2024,2018,PG-13,134 min,Action & Adventure;Sci-Fi & Fantasy,T’Challa returns home to rule Wakanda and face...,NaN
8841,s8842,Movie,Black Panther Wakanda Forever,Ryan Coogler,Letitia Wright;Angela Bassett;Tenoch Huerta,United States,January 1 2024,2022,PG-13,161 min,Action & Adventure;Sci-Fi & Fantasy,Wakanda fights to protect its future after the...,NaN
8842,s8843,Movie,Spider-Man Homecoming,Jon Watts,Tom Holland;Michael Keaton;Zendaya,United States,January 1 2024,2017,PG-13,133 min,Action & Adventure;Sci-Fi & Fantasy,Peter Parker balances high school life with be...,NaN
8843,s8844,Movie,Spider-Man Far From Home,Jon Watts,Tom Holland;Jake Gyllenhaal;Zendaya,United States,January 1 2024,2019,PG-13,129 min,Action & Adventure;Sci-Fi & Fantasy,Spider-Man faces new threats while on a school...,NaN
8844,s8845,Movie,Spider-Man No Way Home,Jon Watts,Tom Holland;Zendaya;Benedict Cumberbatch,United States,January 1 2024,2021,PG-13,148 min,Action & Adventure;Sci-Fi & Fantasy,Peter Parker seeks help from Doctor Strange wh...,NaN

In [3]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description',
       'Unnamed: 12'],
      dtype='object')

In [4]:
df.describe()

       release_year
count   8845.000000
mean    2014.173770
std        8.813331
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2023.000000

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8845 entries, 0 to 8844
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8845 non-null   object
 1   type          8845 non-null   object
 2   title         8845 non-null   object
 3   director      6211 non-null   object
 4   cast          8020 non-null   object
 5   country       8014 non-null   object
 6   date_added    8835 non-null   object
 7   release_year  8845 non-null   int64
 8   rating        8841 non-null   object
 9   duration      8842 non-null   object
 10  listed_in     8845 non-null   object
 11  description   8844 non-null   object
 12  Unnamed: 12   1 non-null      object
dtypes: int64(1), object(12)
memory usage: 898.4+ KB

In [33]:
df.isnull()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Unnamed: 12
0,False,False,False,False,True,False,False,False,False,False,False,False,True
1,False,False,False,True,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,True,False,False,False,False,False,False,True
3,False,False,False,True,True,True,False,False,False,False,False,False,True
4,False,False,False,True,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8840,False,False,False,False,False,False,False,False,False,False,False,False,True
8841,False,False,False,False,False,False,False,False,False,False,False,False,True
8842,False,False,False,False,False,False,False,False,False,False,False,False,True
8843,False,False,False,False,False,False,False,False,False,False,False,False,True
8844,False,False,False,False,False,False,False,False,False,False,False,False,True

In [34]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        1
Unnamed: 12     8844
dtype: int64

In [35]:
df['director'].fillna('Unknown',inplace = True)
df.head(1)

C:\Users\ADITI\AppData\Local\Temp\ipykernel_10956\64143196.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['director'].fillna('Unknown',inplace = True)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Unnamed: 12
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",NaN

In [36]:
df['cast'].fillna('Unknown',inplace = True)
df.head(1)

C:\Users\ADITI\AppData\Local\Temp\ipykernel_10956\1665762898.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['cast'].fillna('Unknown',inplace = True)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Unnamed: 12
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,Unknown,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",NaN

In [37]:
df['country'].fillna('Unknown',inplace = True)

C:\Users\ADITI\AppData\Local\Temp\ipykernel_10956\880137205.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['country'].fillna('Unknown',inplace = True)

In [38]:
df['rating'].fillna('Unknown',inplace = True)

C:\Users\ADITI\AppData\Local\Temp\ipykernel_10956\646677190.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['rating'].fillna('Unknown',inplace = True)

In [39]:
df.isnull().sum()

show_id            0
type               0
title              0
director           0
cast               0
country            0
date_added        10
release_year       0
rating             0
duration           3
listed_in          0
description        1
Unnamed: 12     8844
dtype: int64

In [40]:
df['date_added'] = pd.to_datetime(df['date_added'],errors='coerce')
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Unnamed: 12
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,Unknown,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",NaN
1,s2,TV Show,Blood & Water,Unknown,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",NaN
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",Unknown,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,NaN
3,s4,TV Show,Jailbirds New Orleans,Unknown,Unknown,Unknown,2021-09-24,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",NaN
4,s5,TV Show,Kota Factory,Unknown,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,NaN

In [5]:
# split the coloum

df['duration_value'] = df['duration'].str.extract(r'(\d+)')
df['duration_type'] = df['duration'].str.extract(r'([A-Za-z]+)')

In [6]:
df['duration_value'] = pd.to_numeric(df['duration_value'], errors='coerce')

In [7]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

In [9]:
df.tail()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,duration_value,duration_type
8840,s8841,Movie,Black Panther,Ryan Coogler,Chadwick Boseman;Michael B Jordan;Lupita Nyong'o,United States,January 1 2024,2018,PG-13,134 min,Action & Adventure;Sci-Fi & Fantasy,T’Challa returns home to rule Wakanda and face...,134.0,min
8841,s8842,Movie,Black Panther Wakanda Forever,Ryan Coogler,Letitia Wright;Angela Bassett;Tenoch Huerta,United States,January 1 2024,2022,PG-13,161 min,Action & Adventure;Sci-Fi & Fantasy,Wakanda fights to protect its future after the...,161.0,min
8842,s8843,Movie,Spider-Man Homecoming,Jon Watts,Tom Holland;Michael Keaton;Zendaya,United States,January 1 2024,2017,PG-13,133 min,Action & Adventure;Sci-Fi & Fantasy,Peter Parker balances high school life with be...,133.0,min
8843,s8844,Movie,Spider-Man Far From Home,Jon Watts,Tom Holland;Jake Gyllenhaal;Zendaya,United States,January 1 2024,2019,PG-13,129 min,Action & Adventure;Sci-Fi & Fantasy,Spider-Man faces new threats while on a school...,129.0,min
8844,s8845,Movie,Spider-Man No Way Home,Jon Watts,Tom Holland;Zendaya;Benedict Cumberbatch,United States,January 1 2024,2021,PG-13,148 min,Action & Adventure;Sci-Fi & Fantasy,Peter Parker seeks help from Doctor Strange wh...,148.0,min

In [10]:
df['duration_value'] = pd.to_numeric(df['duration_value'], errors='coerce')

In [11]:
df['duration_value'].dtype

dtype('float64')

In [12]:
df['content'] = (
    df['cast'] + ' ' +
    df['description'] + ' ' +
    df['country']
)

In [13]:
df['content']

0                                                     NaN
1       Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...
2                                                     NaN
3                                                     NaN
4       Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...
                              ...
8840    Chadwick Boseman;Michael B Jordan;Lupita Nyong...
8841    Letitia Wright;Angela Bassett;Tenoch Huerta Wa...
8842    Tom Holland;Michael Keaton;Zendaya Peter Parke...
8843    Tom Holland;Jake Gyllenhaal;Zendaya Spider-Man...
8844    Tom Holland;Zendaya;Benedict Cumberbatch Peter...
Name: content, Length: 8845, dtype: object

In [14]:
df['content'] = df['content'].str.lower()

In [15]:
df_model = df[['show_id','type','content']]
df_model

     show_id     type                                            content
0         s1    Movie                                                NaN
1         s2  TV Show  ama qamata, khosi ngema, gail mabalane, thaban...
2         s3  TV Show                                                NaN
3         s4  TV Show                                                NaN
4         s5  TV Show  mayur more, jitendra kumar, ranjan raj, alam k...
...      ...      ...                                                ...
8840   s8841    Movie  chadwick boseman;michael b jordan;lupita nyong...
8841   s8842    Movie  letitia wright;angela bassett;tenoch huerta wa...
8842   s8843    Movie  tom holland;michael keaton;zendaya peter parke...
8843   s8844    Movie  tom holland;jake gyllenhaal;zendaya spider-man...
8844   s8845    Movie  tom holland;zendaya;benedict cumberbatch peter...

[8845 rows x 3 columns]

In [16]:
df.dropna(subset=['date_added'], inplace = True)

In [17]:
df['duration_value'].fillna(0, inplace=True)

C:\Users\ADITI\AppData\Local\Temp\ipykernel_15212\3811180707.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['duration_value'].fillna(0, inplace=True)

In [19]:
df.to_csv("netflix_clean_data.csv", index=False)