In [4]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Clean text column
df['description'] = df['description'].fillna('').astype(str)

# TF-IDF
tfidf = TfidfVectorizer(stop_words='english')
matrix = tfidf.fit_transform(df['description'])

# Similarity
similar = cosine_similarity(matrix)

print(similar.shape)

(8835, 8835)

In [5]:
df=pd.read_csv("netflix_clean_data.csv")
df.tail(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,duration_value,duration_type,content
8833,s8844,Movie,Spider-Man Far From Home,Jon Watts,Tom Holland;Jake Gyllenhaal;Zendaya,United States,January 1 2024,2019,PG-13,129 min,Action & Adventure;Sci-Fi & Fantasy,Spider-Man faces new threats while on a school...,129.0,min,tom holland;jake gyllenhaal;zendaya spider-man...
8834,s8845,Movie,Spider-Man No Way Home,Jon Watts,Tom Holland;Zendaya;Benedict Cumberbatch,United States,January 1 2024,2021,PG-13,148 min,Action & Adventure;Sci-Fi & Fantasy,Peter Parker seeks help from Doctor Strange wh...,148.0,min,tom holland;zendaya;benedict cumberbatch peter...

In [6]:
noword = TfidfVectorizer(stop_words = 'english')

In [7]:
#stop english grammar words

matrix = df['content']

In [8]:
df.shape
df['description'].isnull().sum()

np.int64(1)

In [9]:
# finds similarity

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Clean descriptions
df['description'] = df['description'].fillna('').astype(str)

# Build TF-IDF matrix
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(df['description'])

# Compute similarity
similar = cosine_similarity(tfidf_matrix)

print(similar.shape)

(8835, 8835)

In [10]:
def recommend_movie(title):
    title = title.lower().strip()

    df['title_clean'] = df['title'].str.lower().str.strip()

    if title not in df['title_clean'].values:
        print("Movie not found in dataset")
        return

    idx = df[df['title_clean'] == title].index[0]

    similar_score = list(enumerate(similar[idx]))
    similar_score = sorted(similar_score, key=lambda x: x[1], reverse=True)

    print("Recommended Movies:")
    for i in similar_score[1:6]:
        print(df.iloc[i[0]]['title'])

In [11]:
recommend_movie('Kota Factory')

Recommended Movies:
Drishyam
The Creative Indians
The Bridge Curse
She's Dating the Gangster
Racket Boys

In [12]:
recommend_movie('inception')

Recommended Movies:
Dedh Ishqiya
Big Dreams, Small Spaces
Eyyvah Eyyvah 2
Strange Weather
Hyper HardBoiled Gourmet Report

In [13]:
import pandas as pd
import pickle

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [14]:
df = pd.read_csv("netflix_clean_data.csv")

# Use only needed columns
df = df[['title', 'description']]

# Handle missing values
df['description'] = df['description'].fillna('')

In [15]:
tfidf = TfidfVectorizer(stop_words='english')

tfidf_matrix = tfidf.fit_transform(df['description'])

In [16]:
similarity = cosine_similarity(tfidf_matrix)

In [17]:
with open("similarity.pkl", "wb") as f:
    pickle.dump(similarity, f)

In [18]:
print(df.columns.tolist())

['title', 'description']

In [19]:
import pandas as pd

df = pd.read_csv("netflix_clean_data.csv")
print(df.tail(10)[["show_id", "title"]])

     show_id                                        title
8825   s8836                             Avengers Endgame
8826   s8837                      Guardians of the Galaxy
8827   s8838                Guardians of the Galaxy Vol 2
8828   s8839                               Doctor Strange
8829   s8840  Doctor Strange in the Multiverse of Madness
8830   s8841                                Black Panther
8831   s8842                Black Panther Wakanda Forever
8832   s8843                        Spider-Man Homecoming
8833   s8844                     Spider-Man Far From Home
8834   s8845                       Spider-Man No Way Home

In [20]:
df[df['title'].str.contains('Iron', case=False, na=False)][['show_id','title']]

     show_id                                              title
3194   s3195                       Iron Fists and Kung-Fu Kicks
3259   s3260                          Iron Sky: The Coming Race
3341   s3342           Mobile Suit Gundam: Iron-Blooded Orphans
3519   s3520  Kabaneri of the Iron Fortress: The Battle of U...
3912   s3913                                  Generation Iron 3
4118   s4119                                        Iron Ladies
4655   s4656                                 Marvel's Iron Fist
5240   s5241                                  Generation Iron 2
7091   s7097             Iron Cowboy: The Story of the 50.50.50
7092   s7098          Iron Man & Captain America: Heroes United
7093   s7099                       Iron Man: Armored Adventures
7407   s7416            Marvel's Iron Man & Hulk: Heroes United
8359   s8370                                      The Iron Lady
8812   s8823                                           Iron Man
8813   s8824                                         Iron Man 2
8814   s8825                                         Iron Man 3